.config/lazygit/state.yml

.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/go/telemetry/local
.config/htop
.config/ookla
.config/btop/btop.log
.config/btop/btop.conf
.config/gh/hosts.yml
.config/gh/config.yml
.config/tmux/plugins/tmux-power
